@font-face {
    font-family: 'Glaho';
    src: url('../fonts/bpg-glaho-webfont.ttf');
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/bpg-arial-webfont.ttf');
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(227, 228, 232, 1);
    font-family: 'Arial';
}

table,
td {
    border-spacing: 0;
    padding: 0;
}


/* Main container layer */

.main_container {
    position: relative;
    margin: 50px auto;
    width: calc(100% - 100px);
    min-width: 1500px;
    height: 90%;
    min-height: 700px;
    border-radius: 15px;
    overflow: hidden;
}


/* Menu layer */

.menu {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(76, 86, 192, 1);
}


/* Dashboard layer */

.dashboard {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(239, 241, 243, 1);
    transition: left 1000ms, top 1000ms, width 1000ms, height 1000ms;
}

.dashboard_icon_menu {
    position: absolute;
    z-index: 4;
    left: 60px;
    top: 60px;
    border-spacing: 15px;
    padding: 0;
    transition: left 1000ms;
}

.dashboard_icon_menu td {
    vertical-align: top;
    padding: 0;
}

.slide_dashboard_icon_menu {
    left: calc(25% - 120px);
}

.dashboard_icon_menu .menu_item {
    width: 150px;
    height: 200px;
    border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    box-sizing: border-box;
    padding: 30px 10px 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 20px -15px rgba(000, 000, 000, 1);
    transition: margin 500ms, width 500ms, height 500ms, background-color 500ms, box-shadow 500ms;
}

.dashboard_icon_menu .statistics:hover {
    margin: 0 30px;
    width: 200px;
    height: 250px;
    background-color: rgba(44, 62, 80, 1);
    box-shadow: 0px 10px 20px -5px rgba(000, 000, 000, 0.7);
}

.dashboard_icon_menu .pti_registry:hover {
    margin: 0 30px;
    width: 200px;
    height: 250px;
    background-color: rgba(54, 77, 77, 1);
    box-shadow: 0px 10px 20px -5px rgba(000, 000, 000, 0.7);
}

.dashboard_icon_menu .pti_registry_org:hover {
    margin: 0 30px;
    width: 200px;
    height: 250px;
    background-color: rgba(72, 73, 161, 1);
    box-shadow: 0px 10px 20px -5px rgba(000, 000, 000, 0.7);
}

.dashboard_icon_menu .phonebook:hover {
    margin: 0 30px;
    width: 200px;
    height: 250px;
    background-color: rgba(39, 174, 96, 1);
    box-shadow: 0px 10px 20px -5px rgba(000, 000, 000, 0.7);
}

.dashboard_icon_menu .detailed_search:hover {
    margin: 0 30px;
    width: 200px;
    height: 250px;
    background-color: rgba(22, 160, 133, 1);
    box-shadow: 0px 10px 20px -5px rgba(000, 000, 000, 0.7);
}


/* Menu item title */

.dashboard_icon_menu .menu_item .menu_item_title {
    margin: 20px 0 0;
    text-align: center;
    font-family: 'Glaho';
    font-size: 20px;
    color: rgba(000, 000, 000, 1);
    transition: font-size 500ms, color 500ms;
}

.dashboard_icon_menu .menu_item:hover .menu_item_title {
    font-size: 27px;
    color: white;
}


/* Menu item subtitle */

.dashboard_icon_menu .menu_item .menu_item_subtitle {
    margin: 10px 0 0;
    text-align: center;
    font-family: 'Arial';
    font-size: 11px;
    color: rgba(128, 128, 128, 1);
    transition: font-size 500ms, color 500ms;
}

.dashboard_icon_menu .menu_item:hover .menu_item_subtitle {
    color: rgba(255, 255, 255, 1);
}


/* Menu item icon */

.dashboard_icon_menu .menu_item .icon_container {
    margin: auto;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    transition: width 500ms, height 500ms;
}

.dashboard_icon_menu .menu_item .icon {
    margin: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: width 500ms, height 500ms, background-color 500ms, background-size 500ms;
}

.dashboard_icon_menu .statistics .icon_container {
    border: 2px solid rgba(44, 62, 80, 1);
}

.dashboard_icon_menu .statistics .icon {
    background-color: rgba(44, 62, 80, 0.5);
    background-image: url('../images/icons/statistics.png');
}

.dashboard_icon_menu .pti_registry .icon_container {
    border: 2px solid rgba(54, 77, 77, 1);
}

.dashboard_icon_menu .pti_registry .icon {
    background-color: rgba(54, 77, 77, 0.5);
    background-image: url('../images/icons/pti_registry.png');
}

.dashboard_icon_menu .pti_registry_org .icon_container {
    border: 2px solid rgba(72, 73, 161, 1);
}

.dashboard_icon_menu .pti_registry_org .icon {
    background-color: rgba(72, 73, 161, 0.5);
    background-image: url('../images/icons/pti_registry_org.png');
}

.dashboard_icon_menu .phonebook .icon_container {
    border: 1px solid rgba(39, 174, 96, 1);
}

.dashboard_icon_menu .phonebook .icon {
    background-color: rgba(39, 174, 96, 0.3);
    background-image: url('../images/icons/phone_book.png');
}

.dashboard_icon_menu .detailed_search .icon_container {
    border: 1px solid rgba(22, 160, 133, 1);
}

.dashboard_icon_menu .detailed_search .icon {
    background-color: rgba(22, 160, 133, 0.3);
    background-image: url('../images/icons/detailed_searched.png');
}

.dashboard_icon_menu .menu_item:hover .icon_container {
    width: 94px;
    height: 94px;
    border: 2px solid rgba(255, 255, 255, 1);
}

.dashboard_icon_menu .menu_item:hover .icon {
    width: 90px;
    height: 90px;
    background-size: 48px 48px;
    background-color: rgba(255, 255, 155, 0.2);
}

.dashboard_icon_menu .statistics:hover .icon {
    background-image: url('../images/icons/statistics-hover.png');
    background-color: transparent;
}

.dashboard_icon_menu .pti_registry:hover .icon {
    background-image: url('../images/icons/pti_registry-hover.png');
    background-color: transparent;
}

.dashboard_icon_menu .pti_registry_org:hover .icon {
    background-image: url('../images/icons/pti_registry_org-hover.png');
    background-color: transparent;
}

.dashboard_icon_menu .phonebook:hover .icon {
    background-image: url('../images/icons/phone_book-hover.png');
    background-color: transparent;
}

.dashboard_icon_menu .detailed_search:hover .icon {
    background-image: url('../images/icons/detailed_search-hover.png');
    background-color: transparent;
}


/* Menu icon layer */

.menu_icon {
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 20px;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px -1px rgba(000, 000, 000, 0.3);
}

.menu_icon img {
    display: block;
    margin: 10px auto;
    width: 20px;
    cursor: pointer;
}

.show_hide_menu {
    left: 25%;
    top: 5px;
    width: calc(75% - 5px);
    height: calc(100% - 10px);
}


/* first content layer */

.important_dates_and_next_30_days_calendar {
    position: absolute;
    z-index: 3;
    left: 60px;
    top: 275px;
    border-radius: 15px;
    border-spacing: 15px;
    transition: left 1000ms;
}

.slide_important_dates_and_next_30_days_calendar {
    left: calc(25% - 120px);
}

.important_dates_list {
    width: 480px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 30px 30px 0;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 20px -15px rgba(000, 000, 000, 1);
}

.important_dates_list .title {
    margin: 0 0 30px;
}

.important_dates_list .title1 {
    font-family: 'Arial';
    font-size: 20px;
    color: rgba(000, 000, 000, 1);
    transition: font-size 500ms, color 500ms;
}

.important_dates_list .title2 {
    font-family: 'Arial';
    font-size: 20px;
    color: rgba(128, 128, 128, 1);
    transition: font-size 500ms, color 500ms;
}

.important_dates_list .important_date {
    margin: 0 0 10px;
}

.important_dates_list .important_date td {
    padding: 0 0 10px;
}

.important_dates_list .important_date .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(192, 57, 43, 0.3);
    background-image: url('../images/icons/alert.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.important_dates_list .important_date .date {
    padding: 0 10px;
    font-family: 'Arial';
    font-size: 18px;
}

.important_dates_list .important_date .description {
    font-family: 'Arial';
    font-size: 15px;
    color: rgba(128, 128, 128, 1);
}

.important_dates .month {
    font-family: 'Arial';
    font-size: 16px;
}

.important_dates .year {
    font-family: 'Arial';
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
}

.next_30_days_calendar_container {
    width: 315px;
    height: 300px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 30px 30px 0;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 20px -15px rgba(000, 000, 000, 1);
}

.next_30_days_calendar_container .title {
    margin: 0 0 30px;
}

.next_30_days_calendar_container .title1 {
    font-family: 'Arial';
    font-size: 20px;
    color: rgba(000, 000, 000, 1);
    transition: font-size 500ms, color 500ms;
}

.next_30_days_calendar_container .title2 {
    font-family: 'Arial';
    font-size: 20px;
    color: rgba(128, 128, 128, 1);
    transition: font-size 500ms, color 500ms;
}

.next_30_days_calendar {
    width: 100%;
}

.next_30_days_calendar .day {
    padding: 3px 0;
    font-family: 'Arial';
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
}

.next_30_days_calendar .date {
    padding: 3px 0;
    font-family: 'Arial';
    font-size: 16px;
    /* color: rgba(128, 128, 128, 1); */
}

.next_30_days_calendar .holliday {
    border-radius: 50%;
    color: rgb(192, 57, 43, 1);
    /* background-color: rgb(192, 57, 43, 0.3); */
}

.next_30_days_calendar td {
    text-align: center;
}


/* Menu */

.dashboard_1 {
    margin: 50px auto;
}


/* .menu_item {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
    height: 200px;
    background-color: rgba(72, 73, 161, 1);
    color: #D49E4A;
} */

.menu_item1 {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
    height: 200px;
    background-color: rgba(54, 77, 77, 1);
    color: #D49E4A;
}


/* .icon {
    display: block;
    border: 1px solid coral;
    /* box-shadow: 20px 20px 20px; */


}
*/